---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Sobre mí</h1>
  <h2>... y mi nuevo sitio web Astro!</h2>
  <p>Estoy trabajando a través del tutorial de introducción de Astro. Esta es la segunda página de mi sitio web, y es la primera que construí yo mismo!</p>
  <p>Este sitio se actualizará a medida que complete más del tutorial, así que mantente atento y ve cómo va mi viaje!</p>
</Layout>